@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

:root {
  --green: #3c9379;
  --black: #101913;
  --white: #ffffff;
  --grey: #535a56;
}
*::selection {
  color: var(--white);
  background: var(--black);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  font-style: normal;
}
body {
  max-width: 1263px;
  width: 100%;
  margin: 0 auto;
  font-family: "Manrope", sans-serif;
}
#position {
  margin: 15px 50px;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bar h1 {
  font-weight: 700;
  font-size: 23px;
  color: var(--black);
}
.nav-bar h1 span {
  color: var(--green);
}
.nav-bar nav ul {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.nav-bar nav ul li > a {
  font-weight: 500;
  font-size: 14px;
  color: var(--grey);
}
.nav-bar nav ul li > a:hover {
  color: var(--black);
}
.nav-bar nav ul li:nth-child(1) a {
  color: var(--black);
}
.nav-bar .btn a {
  color: var(--black);
  font-size: 13px;
}
.nav-bar .btn > a:hover {
  color: var(--grey);
}
.nav-bar .btn button:hover {
  background: var(--black);
}
.nav-bar .btn button {
  padding: 8px 14px;
  background-color: var(--green);
  border-radius: 6px;
  margin-left: 15px;
}
.nav-bar .btn button a {
  font-weight: 500;
  font-size: 14px;
  color: var(--white);
}
